<!DOCTYPE html>
{% load staticfiles %}

{% load moviemania_template_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v4-alpha.getbootstrap.com/favicon.ico">

    <title>Movie Mania</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <!-- for stat icon-->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <!--for js code in movie.html-->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
    <!--star rating-->
  <link rel="stylesheet" href="jquery.rateyo.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
  </head>

<!--BACKGROUND-->
  <body style="background: url('/static/images/movietheatre.jpg'); background-size: 100% ">
  
<!--NAVIGATION BAR-->  
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--webApp icon-->  
      <a class="navbar-brand" href="{% url 'index' %}"><img src="/static/images/title.jpg" style="height: 60px;width: 150px">

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}"><span class="sr-only">(current)</span></a>
          </li>
          
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_logout' %}?next=/moviemania/">Log out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' user.username %}">Profile</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'auth_login' %}" style="color:white;">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registration_register' %}" style="color:white;" >Sign up</a>
          </li>
          {% endif %}
        <!--search-->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search' %}">Search</a>
          </li>
          
          <!--drop down navigation for categories-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:white;"s>Categories</a>
                <div class="dropdown-menu text-white">
                {% get_category_list %}
                {% for category in categories %}
                    <a class="dropdown-item" href="/moviemania/category/{{ category.slug }}"></a>
                {% endfor %}
            </div>
          </li>
        </ul>
        
     
      </div>
    </nav>




        <div class="col-sm-9 col-md-10 pt-3 bg-transparent">
            {% block body_block %}
            {% endblock %}
        </div>
      </div>
</div>


    </div>
    
    
<!-- FOOTER -->
</br>
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase text-white">About MovieMania</h5>
          <p class="text-white">Movie Mania is a platform for movie maniacs to share their opinions on movies</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div align="right" class="col-md-6 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase text-white">Customer Service</h5>

            <ul class="list-unstyled">
              <li>
                <a class="text-white" href="#!">Home Office: xxxxx</a>
              </li>
              <li>
                <a class="text-white" href="#!">Contact: xxxxx</a>
              </li>
              <li>
                <a class="text-white" href="#!">Email: xxxxx@moviemania.com</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-white py-3">
        © 2019 Copyright: MovieMania
    </div>
    <!-- Copyright -->

  </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https:/>/ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="http://v4-alpha.getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="{% static "js/moviemania-jquery.js" %}"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/moviemania-ajax.js" %}"></script>
    <script src="{% static "js/moviemania-review.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Stylesheet for star ratings -->
    <link rel="stylesheet" href="{% static 'star_ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    
    <!--for star rating-->
<script src="jquery.js"></script>
<script src="{% static 'js/rateyo/jquery.rateyo.js' %}"></script>
  </body>
</html>



