{% extends 'moviemania/base.html' %}
{% load staticfiles %}

{% block title_block %}
<h2 href="" class="w-100 text-white text-center font-weight-bold font-italic text-warning " > {{ category.name }}</h2>
{% endblock %}
{% block body_block %}
</br>
</br>
    {% if category %}
        <h1  class=" w-100 text-white text-center font-weight-bold font-italic text-warning ">{{ category.name }}</h1>
        {% if movies %}
            <ul>
                {% for movie in movies %}
                <a class="nav-link   font-weight-bold text-white" href="/moviemania/category/{{ category.slug }}/{{ movie.slug }}">{{ movie.title }}</a><br/>
                {% endfor %}
             </ul>
        {% else %}
        <strong>No movies currently in category.</strong>
        {% endif %}
    {% endif %}
{% endblock %}