{% extends 'moviemania/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock %}
{% block body_block %}
</br>
</br>
    {% if category %}
        <h1  class=" font-weight-bold text-white ">{{ category.name }}</h1>
        {% if movies %}
            <ul>
                {% for movie in movies %}
                <a class="nav-link  text-white" href="/moviemania/category/{{ category.slug }}/{{ movie.slug }}">{{ movie.title }}</a><br/>
                {% endfor %}
             </ul>
        {% else %}
        <strong>No movies currently in category.</strong>
        {% endif %}
    {% endif %}
{% endblock %}