{% extends 'moviemania/base.html' %}
{% load staticfiles %}
{% load moviemania_template_tags %}
{% block title_block %}
Index
{% endblock %}


<!-- Custom styles for this search bar -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"><script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


{% block body_block %}
<!-- Search Bar -->
<form>
     <li class="nav-item container-fluid mt-5 ml-5"><input class="search-query form-control" placeholder="Search for a movie" type="text"
              name="suggestion" value="" id="suggestion" />
     </li>
</form>
<hr>

<div id="movies">
</div>


   
<!-- Top Movies -->
</br>
<div class="container-fluid ml-5">
<h3 class="font-weight-bold text-white ">Top Movies</h3>

    {% if movies %}
        <div class="row">
                    
        {% for movie in movies %}
        <div class="col-md">

            <!--<img class="img-fluid" src="{{ movie.image.url }}">-->
            <!--<img src="{% static movie.image.url %}" />-->
            <!-- <img src="{{ MEDIA_URL }}{{movie.img }}" alt="{{movie.title}}"> -->

            {% if Movie.img %}
                <a href="/moviemania/category/{{ movie.category.slug }}/{{movie.slug}}"><img class="img-fluid" src="{{ MEDIA_URL }}{{ movies.img }}"></a>
            {% else %}
                <a href="/moviemania/category/{{ movie.category.slug }}/{{movie.slug}}"><img class="img-fluid" src="http://placehold.it/200x300" alt=""/></a>
            {% endif %}

            <a class="text-white" href="/moviemania/category/{{ movie.category.slug }}/{{movie.slug}}">{{ movie.title }}</a>
        </div>
        {% endfor %}
                
        {% else %}
            <strong>There are no movies present.</strong>
    {% endif %}
        </div>
</div>
{% endblock %}