{% extends 'moviemania/base.html' %}
{% load staticfiles %}
{% load moviemania_template_tags %}
{% block title_block %}
Index
{% endblock %}


{% block body_block %}
<!-- Search Bar -->
<br>

<div class="row">
    <div class="col-3"></div>
    <div class="col-7">
     <form class="nav-item container-fluid mt-5 ml-5" ><input class="search-query form-control width-50" placeholder="Search for a movie" type="text"
              name="suggestion" value="" id="suggestion" />
     </form>
    </div>
    <div class="col-2"></div>
</div>
<hr>

<div id="movies">
</div>
<!-- end search bar -->


   
<!-- Top Movies -->

<div class="container-fluid ml-5">
<h3 class="font-weight-bold text-white text-warning">Top Movies</h3>
</br>

    {% if movies %}
        <div class="row">
                    
        {% for movie in movies %}
        <div class="col-md">

            {% if movies %}
                <a href="/moviemania/category/{{ movie.category.slug }}/{{movie.slug}}"><img src="{{ MEDIA_URL }}{{movie.img}}" width="150" height="250" alt="{{movie.title}}"></a>
            {% else %}
                <a href="/moviemania/category/{{ movie.category.slug }}/{{movie.slug}}"><img class="img-fluid" src="http://placehold.it/200x300" alt=""/></a>
            {% endif %}

            <a class="text-white" href="/moviemania/category/{{ movie.category.slug }}/{{movie.slug}}">{{ movie.title }}</a>
        </div>
        {% endfor %}
                
        {% else %}
            <strong>There are no movies present.</strong>
    {% endif %}
        </div>
</div>
{% endblock %}