{% extends 'moviemania/base.html' %}
{% load staticfiles %}
{% block title_block %}
Index
{% endblock %}

{% block sidebar_block %}
    <pre> Hi there! </pre>
<div>
    {% if categories %}
    <ul>
        {% for category in categories %}
        <li style="color:#FFD700"><a href="/moviemania/category/{{ category.slug }}" style="color:red">{{ category.name }}</a></li><br/>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no categories present.</strong>
    {% endif %}
</div>
{% endblock %}