{% extends 'moviemania/base.html' %}
{% load staticfiles %}
{% load ratings %}


{% block body_block %}
    <br />
<!--This is the style of a movie-->
<div class="row">
    <div class="w-100" id="movietitle"><h2 href="" class="w-100 text-white font-weight-bold font-italic text-warning " >{{ movie.title }}</h2></div>
    
    <div class="w-25  ">
        <div class="w-100 " id="movieimg"><img src="{% static movie.image.url %}" class="w-100"/></div>
        <div class="w-100 " id="movieimg"><img src="{{ MEDIA_URL}} {{ movie.title }}.jpg" class="w-100"/></div>
        <div class="w-100 " id="movieimg"><img src="{% static "posters/{{movie.title}}.jpg" %} class="w-100"/></div>
        <div class="w-100 " id="movieimg"><img src="{{ u.movie.image.url }}" class="w-100"/></div>
        <div class="w-100 " id="movieimg"><img src="{{ movie.image }}" class="w-100"/></div>
        
        <div class="w-100 " id="preview"><a href="#" class="w-100  font-weight-bold text-white">Watch Preview</a></div>
        <div class="w-100 " id="stream"><a href="#" class="w-100  font-weight-bold text-white" >Stream Online</a></div>
        
        <div class="w-100 " id="stars">
    <!--need to edit-->
        <i class='fas fa-star text-warning' style='font-size:16px'></i>
        <i class='fas fa-star text-warning' style='font-size:16px'></i>
        <i class='fas fa-star text-warning' style='font-size:16px'></i>
        <i class='fas fa-star text-warning' style='font-size:16px'></i>
        <i class='fas fa-star text-warning' style='font-size:16px'>5.0</i>
        <p class="font-weight-bold text-white "> {% ratings movie %}</p>
        </div>
    <br />
    </div>
    
    <div class="w-70">
        <div class="w-100" >
            <h3 href="" class="w-100  font-weight-bold text-muted " >Summary</h3>
            <div class="w=100" id="summary"><p class="w-100  font-weight-bold text-white ">This is a test</p></div>
        </div>
        <div class="w-100">
            <p class="w-100 text-white">Directed by: XXX(need to edit)</p>
        </div>
        <div class="w-100" >
            <h3  class=" font-weight-bold text-muted " >Casts </h3>
            <p class="font-weight-bold text-white ">This is a test </p>
        </div>
        <div class="w-100 form-group"  >
         <button id="comment-btn" onclick="loadComment()" class="btn btn-secondary " type="submit" value="Comment">Comment</button>
            <form action=" " method="post" id="reviews" style="display: block;">
                {% csrf_token %}
                <label class="font-weight-bold text-white" for="reviewcontent">Enter comments: </label>
                <textarea class="form-control" id="reviewcontent" rows="3"></textarea>
                <input  class="btn btn-secondary btn-sm" type="submit" onclick="myFunction()" value="OK">
             </form>
        
        <!--star rating-->
            <div id="rateYo"></div>
            <div>
                <button id="getRating"  class="btn btn-secondary ">Submit</button>
            </div>
        </div>
<!--star rating end-->
        
        <span class="w-100 bg-light border border-warning" style="width:100px;height: 50px" >
            <i class='w-20 fas fa-user text-white' style='font-size:16px'> Username</i>
            <p class="w-100 text-white">Comment content</p>
        </span>
    </div>
</div>
<!--movie style end-->

<br />
    <strong id="like_count">{{ movie.likes }}</strong> people have added this movie to their favourites
    <br>
    {% if user.is_authenticated %}
        {% if show_like_button %}
        <button id="likes" data-movieid="{{movie.id}}"
                class="btn btn-danger btn-sm" type="button">
                Add to Favourites
            </button>
        {% endif %}
    {% endif %}
</div>





<br />


{% endblock %}


