{% extends 'moviemania/base.html' %}
{% load staticfiles %}

{% block title %}{{ user.username }} Profile {% endblock %}

{% block body_block %}
<br/>
<font color="White">
    <div class="page-header">
        <h1 class="w-100 text-white  font-weight-bold font-italic text-warning ">
            {{selecteduser.username}} Profile
        </h1>
    </div>
</br>


<div class="float-right col-6">
    {% if userprofile.picture %}
	<img src="{{ MEDIA_URL }}{{ userprofile.picture }}" width="300" height="300" alt="{{user.username}}" />
    {% else %}
    	<img src="http://lorempixel.com/300/300/people/" img width="300" height="300" alt="{{user.username}}"/>
    {% endif %}
	<br/><br/>
</div>

<div class="col-6">
	<div id="profile_data">
		{% if selecteduser.username == user.username %}
    	<form method="post" action="." enctype="multipart/form-data">
    		{% csrf_token %}
    		{% for field in form %}
        <p>
            <i class="fa fa-lg text-white">{{ field.label_tag }}</i>
            <br>
             {{ field }}
            {% if field.help_text %}
                </br>
                <small style="color:grey">{{ field.help_text }}</small>
            {% endif %}
            
        </p>
    {% endfor %}
    		<input class="btn btn-warning btn-md" type="submit" value="Update" />
    	</form>
        {% else %}
		<p><strong>Email:</strong> {{selecteduser.email}}</p>
		<p><strong>Website:</strong> <a href="{{userprofile.website}}">{{userprofile.website}}</a></p>
		{% endif %}
	</div>

<div id="edit_profile"></div>
	If you want to delete a movie from your favourites or watchlist, don't select it and click on Update.
    If you want to keep a movie in your favourites, select it before clicking Update.
    You can also add and remove the movie from your watchlist/favourites on the movie page.
</font>

<br/>
</div>

{% endblock %}
