{% extends 'moviemania/base.html' %}
{% load staticfiles %}

{% block title %} Search {% endblock %}

{% block body_block %}
<div>
    <font color="White">
    <br/>
    <h1>Search in MovieMania</h1>
    <br/>

    <!-- Search Bar -->
<form>
     <form class="nav-item container-fluid mt-5 ml-5"><input class="search-query form-control" placeholder="Search for a movie" type="text"
              name="suggestion" value="" id="suggestion" />
     <form>
</form>
<hr>

<div id="movies">
</div>
    </font>
    <!--

    <form class="form-inline" id="user_form"
          method="post" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" size="50"
                   name="query" value="" id="query" />
        </div>
        <button class="btn btn-primary" type="submit" name="submit"
                value="Search">Search</button>

    </form>

    <div>
        {% if result_list %}
        <h3>Results</h3>
        <div class="list-grouop">
            {% for result in result_list %}
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <a href="{{ result.link }}"> {{ result.title }}</a>
                    </h4>
                    <p class="list-group-item-text">{{ result.summary }}</p>

                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    -->
</div>
{% endblock %}