{% extends 'moviemania/base.html' %}
{% load staticfiles %}

{% block title %} Search {% endblock %}

{% block body_block %}
<div>
    <font color="White">
    <br/>
    <h1 class="w-100 text-white text-center font-weight-bold font-italic text-warning ">Search in MovieMania</h1>

    <!-- Search Bar -->
    <div class="col-7 mt-5 ml-5">
     <form class="nav-item container-fluid mt-5 ml-5"><input class="search-query form-control" placeholder="Search for a movie" type="text"
              name="suggestion" value="" id="suggestion" />
<hr>

    <div id="movies">
    </div>
    </div>
    </font>

</div>
{% endblock %}