{% extends "moviemania/base.html" %}
{% block body_block %}
</br>
    <h1  class=" font-weight-bold text-white ">Register Here</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {% for field in form %}
        <p>
            <i class="fa fa-lg text-white">{{ field.label_tag }}</i>
            <br>
             {{ field }}
            {% if field.help_text %}
                </br>
                <small style="color:white">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color:red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
                       
        <input class="btn btn-outline-secondary btn-sm" type="submit" value="Submit" />
    </form>
{% endblock %}