{% extends "moviemania/base.html" %}
{% block body_block %}
    <h1  class=" font-weight-bold text-white ">Register Here</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="container">
            <div class="form row">
                <div class="col-sm-2 col-md-2 "></div>
                <br>
                <div class="form-horizontal col-sm-8 col-md-8 " id="signup_form">
                
        <input type="submit" value="Submit" />
    </form>
{% endblock %}